:root{
  background-color: gray;
}
.coral-text{
  color: coral;
}
.background-brown{
  background-color: rgb(163, 136, 86);
  color: black;
}
a:link{
  color: rgb(67, 221, 149);
}
a:visited{
  color:rgb(53, 212, 212);
}
.center{
  text-align: center;
}
.font-size{
  font-size: large;
  font-family: sans-serif;
}
.font-size-larger{
  font-size: larger;
  font-family: sans-serif;
}
h1, h2, h3{
  text-align: center;
  color: coral;
}
body{
  align:center;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.form{
  display: block;
  text-align: center;
}
form{
  background-color: rgb(79, 226, 79);
  padding: 20px;
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  text-align:left;
}
p{
  align:center;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

ul{
  font-family:sans-serif;
  color:coral;
  display: table;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
}
/*table, td{
  font-family:sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  padding: 7px;
  background-color: rgb(104, 102, 98);
  color:rgb(184, 240, 55);
}
*/
th{
  font-family:sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  padding: 7px;
  background-color: rgb(163, 136, 86);
  color:rgb(0, 0, 0);
}
table{
  font-family:sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  padding: 7px;
  color: rgb(184, 240, 55);
}
td{
  font-family:sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  padding: 7px;
}
table tr:nth-child(even) {
  font-family:sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  padding: 7px;
  background-color: rgb(102, 52, 52);
}

input[type=text]{
  align:center;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  background-color: rgb(238, 135, 97);
  font-family: sans-serif;
  color:white;
}
input[type=number]{
  align:center;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  background-color: rgb(238, 135, 97);
  font-family: sans-serif;
  color:white;
}
input[type=email]{
  align:center;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  background-color: rgb(238, 135, 97);
  font-family: sans-serif;
  color:white;
}
input[type=submit]{
  background-color: rgb(59, 59, 59);
  color:coral;
}
input[type=reset]{
  background-color: rgb(59, 59, 59);
  color:coral;
}