
.background-brown{
  background-color: rgb(163, 136, 86);
  color: black;
}
body{
  text-align: center;
  background-color: #EFEFEF;
  color: #565656;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header, footer{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form{
  display: block;
  text-align: center;
}
form{
  background-color: #B38D97;
  color: #283845;
  padding: 20px;
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  text-align:left;
}

ul{
  font-family:sans-serif;
  display: table;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;
  list-style: square;
}
th{
  font-family:sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  padding: 7px;
  background-color: rgb(163, 136, 86);
  color:rgb(0, 0, 0);
}
table{
  font-family:sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  padding: 7px;
  color: rgb(184, 240, 55);
  background-color: rgb(168, 74, 74);
}
td{
  font-family:sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  padding: 7px;
}
table tr:nth-child(even) {
  font-family:sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  padding: 7px;
  background-color: rgb(102, 52, 52);
}

input[type=text]{
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  background-color: rgb(238, 135, 97);
  font-family: sans-serif;
  color:white;
}
input[type=number]{
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  background-color: rgb(238, 135, 97);
  font-family: sans-serif;
  color:white;
}
input[type=email]{
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  background-color: rgb(238, 135, 97);
  font-family: sans-serif;
  color:white;
}
input[type=submit]{
  background-color: rgb(59, 59, 59);
  color:coral;
}
input[type=reset]{
  background-color: rgb(59, 59, 59);
  color:coral;
}
#slides img {
  display: none;
}